<%= turbo_frame_tag :modal do %>
    <div class="d-flex justify-content-end">
      <%= render 'frame_header' %>
    </div>
    <div data-controller="info" data-action="turbo:submit-end->info#submitEnd">
      <h1>Editing post</h1>

      <%= render "form", post: @post %>

      <br>

      <div>
        <%= link_to "Show this post", @post %>
        <%= button_to "Destroy this post", post_path(@post), method: :delete %>
      </div>
    </div>
<% end %>
