<%= turbo_frame_tag :modal do %>
  <div class="d-flex justify-content-end">
    <%= render 'frame_header' %>
  </div>
  <p style="color: green"><%= notice %></p>

  <%= render @post %>

  <div>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
    <%= link_to "Back to posts", posts_path %>

    <%= link_to "Destroy this post", post_path(@post), data: { "turbo-method": :delete } %>
  </div>
<% end %>
