<%= turbo_frame_tag :modal do %>
  <div class="d-flex justify-content-end">
    <%= render 'frame_header' %>
  </div>
  <p style="color: green"><%= notice %></p>

  <%= render @post %>

  <div data-controller="info" data-action="turbo:submit-end->info#submitEnd">
    <%= link_to "Edit this post", edit_post_path(@post) %> | 
    <%= button_to "Destroy this post", post_path(@post), method: :delete %>
  </div>
<% end %>
