<!DOCTYPE html>
<html>
  <head>
    <title>SideInfo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1 bg-info">Sidebar</div>
        <div class="col-sm-11">
        <%= turbo_frame_tag :modal, class: "bg-info" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
